@model PortfolioWebsite.Models.ContactModel
@{
	ViewBag.Title = "Create";
}

<div class="paratext">
	<h1>Send me an email</h1>
	@using (Html.BeginForm("Create", "Contact", FormMethod.Post))
	{
		@Html.AntiForgeryToken()
		@Html.TextBoxFor(m => m.FullName, new { @placeholder = "Full Name" })
		@Html.ValidationMessageFor(m => m.FullName)
		@Html.TextBoxFor(m => m.Email, new { @placeholder = "Email" })
		@Html.ValidationMessageFor(m => m.Email)
		@Html.TextAreaFor(m => m.Message, new { @placeholder = "Type message here" })
		@Html.ValidationMessageFor(m => m.Message)
		<input type="submit" value="SUBMIT">
	}

</div>

